.contact{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 98;
}

.contact .content{
    max-width: 800px;
    text-align: center;
    color: var(--white);
}

.contact .contact .content h2{
    font-size: 36px;
    font-weight: 500;
    color: var(--white);
}

.contact .contact .content p{
    font-weight: 300;
    color: var(--white);
}

.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.container .contact-info{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.container .contact-info .box{
    position: relative;
    padding: 20px 0;
    display: flex;
}

.container .contact-info .box .icon{
    min-width: 60px;
    height: 60px;
    background: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size:  22px;
}

.container .contact-info .box .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: var(--white);
    flex-direction: column;
    font-weight: 300;
}

.container .contact-info .box .text h1{
    font-weight: 500;
}

.contact-form{
    width: 40%;
    padding: 40px;
    background-color: var(--white);
    border-radius: 10%;
}

.contact-form h2{
    font-size: 30px;
    font-weight: 500;
}

.contact-form .inputBox{
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.contact-form .inputBox input,
.contact-form .inputBox textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}

.contact-form .inputBox span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color:#666;
}

.contact-form .inputBox input:focus ~ span,
.contact-form .inputBox input:valid ~ span,
.contact-form .inputBox textarea:focus ~ span,
.contact-form .inputBox textarea:valid ~ span{
    color: #e91e63;
    font-size: 12px;
    transform: translateY(-20px);
}

.contact-form .inputBox input[type="submit"]{
    display: inline-block;
    margin-top: 1rem;
    background:var(--orange);
    color:#fff;
    padding:.8rem 3rem;
    border:.2rem solid var(--orange);
    cursor: pointer;
    font-size: 1.7rem;
    border-radius: 30px;
    text-decoration: none;
}

.contact-form .inputBox input[type="submit"]:hover{
    background-color: var(--blue);
}

@media (max-width: 990px){
    .contact{
        z-index: 99;
        padding: 50px;
    }
    .container{
        flex-direction: column;
    }

    .container .contact-info{
        margin-bottom: 40px;
    }
    .container .contact-info{
        width: 100%;
    }
}

.wrapper{
  margin-top: 50px;
}

.wrapper h2{
  color: var(--white);
}

.wrapper .button{
    margin-top: 20px;
    margin-right: 15px;
    display: inline-block;
    height: 60px;
    width: 60px;
    overflow: hidden;
    background: #fff;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
    transition: all 0.3s ease-out;
  }
  .wrapper .button:hover{
    width: 200px;
  }
  .wrapper .button .icon{
    display: inline-block;
    height: 60px;
    width: 60px;
    text-align: center;
    border-radius: 50px;
    box-sizing: border-box;
    line-height: 60px;
    transition: all 0.3s ease-out;
  }
  .wrapper .button:nth-child(2):hover .icon{
    background: #4267B2;
  }
  .wrapper .button:nth-child(3):hover .icon{
    background: #1DA1F2;
  }
  .wrapper .button:nth-child(4):hover .icon{
    background: #E1306C;
  }
  .wrapper .button:nth-child(5):hover .icon{
    background: rgb(6, 176, 15);
  }

  .wrapper .button .icon i{
    font-size: 25px;
    line-height: 60px;
    transition: all 0.3s ease-out;
  }
  .wrapper .button:hover .icon i{
    color: #fff;
  }
  .wrapper .button span{
    font-size: 20px;
    font-weight: 500;
    line-height: 60px;
    margin-left: 10px;
    transition: all 0.3s ease-out;
  }
  .wrapper .button:nth-child(2) span{
    color: #4267B2;
  }
  .wrapper .button:nth-child(3) span{
    color: #1DA1F2;
  }
  .wrapper .button:nth-child(4) span{
    color: #E1306C;
  }
  .wrapper .button:nth-child(5) span{
    color: rgb(6, 176, 15);
  }