.title{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 98;
    margin-top: 110px;
    color: var(--white);
    font-size: 35px;
}

.destination-content{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(340px, auto));
	grid-gap: 2rem;
	align-items: center;
    z-index: 99;
    margin-top: 50px;
}

.col-content{
	position: relative;
    z-index: 98;
}
.col-content img{
	width: 95%;
    margin-left: 2%;
	height: 450px;
	object-fit: cover;
	border-radius: 15px;
	filter: brightness(80%);
	transition: all .3s cubic-bezier(.495,.05,.55,.95);
	will-change: filter;
}
.col-content h5{
	position: absolute;
	font-size: 25px;
	font-weight: 500;
	color: var(--white);
	left: 15px;
	bottom: 60px;
}
.col-content p{
	position: absolute;
	font-size: 20px;
	color: var(--white);
	left: 15px;
	bottom: 30px;
	letter-spacing: 2px;
}
.col-content img:hover{
	filter: brightness(100%) hue-rotate(45deg);
	transform: scale(1.04);
	cursor: pointer;
}

.map-container{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 98;
}

.map-container h1{
    color: var(--white);
    font-size: 30px;
}

.map-container #map {
    height: 700px;
    width: 90%;
    border-radius: 20px;
    border: 10px solid var(--white);
    margin-top: 20px;
    
}

@media (max-width: 990px){
    .map-container{
        z-index: 99;
        padding: 50px;
    }

    .map-container #map{
        width: 100%;
    }
}
