:root{
    --orange: #ffa500;
    --white:#FFF;
    --blue:rgb(0, 191, 255);
    --darkerWhite:rgb(239, 236, 236);
    --lighterBlue: rgb(97, 213, 251);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira-sans', sans-serif;
}

body{
    background-image: linear-gradient(to right top, #00fff4, #60f1ae, #9edc67, #d2bf2e, #ff9828);
}

/* Navigation Bar */
header{
    position: fixed;
    top:0; left: 0; right:0;
    background:#333;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:2rem 9%;
}

.navbar-container{
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo{
    font-size: 2.5rem;
    font-weight: bolder;
    color:var(--orange);
    text-transform: uppercase;
    text-decoration: none;
}
  
header .logo span{
color:var(--blue);
}

.navigation-bar{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--white);
    padding: 16px 32px;
    border-bottom: 3px solid var(--orange);
    z-index: 99;

}

.hamburger{
    display: block;
    position: relative;
    z-index: 1;
    user-select: none;
    appearance: none;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}

.hamburger span{
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background-color:  rgb(0, 191, 255);
    border-radius: 6px;
    z-index: 1;
    transform-origin: 0 0;
    transition: 0.4s;
}

.hamburger:hover span:nth-child(2){
    transform: translateX(10px);
    background-color: var(--orange);
}

.hamburger.is-active span:nth-child(1){
    transform: translate(0px, -2px) rotate(45deg);
}

.hamburger.is-active span:nth-child(2){
    opacity: 0;
    transform: translateX(15px);
}

.hamburger.is-active span:nth-child(3){
    transform: translate(-3px, 3px) rotate(-45deg);
}

.hamburger.is-active:hover span{
    background-color: var(--orange);
}

.menu{
    display: none;
    flex: 1 1 0%;
    justify-content: flex-end;
    margin: 0 -16px;
}

.menu a{
    color:rgb(0, 191, 255);
    margin: 0 16px;
    font-weight: 600;
    text-decoration: none;
    transition: 0.4s;
    padding: 8px 16px;
    border-radius: 99px;
}

.menu a.is-active, .menu a:hover{
    background-color: var(--orange);
    color: #FFF;
}

/* Hamburger Menu Contents */
.mobile-nav{
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    min-height: 100vh;
    display: block;
    z-index: 999;
    background-color: var(--darkerWhite);
    padding-top: 120px;
    transition: 0.4s;
}

.mobile-nav.is-active{
    left:0;
}

.mobile-nav a{
    display: block;
    text-align: center;
    width: 100%;
    max-width: 200px;
    margin: 0 auto 16px;
    padding: 12px 16px;
    color:var(--blue);
    font-weight: bold;
    text-decoration: none;
    border-radius: 50px;
}

.mobile-nav a.is-active, .mobile-nav a:hover{
    background-color: var(--orange);
    color:var(--white);
}

@media(min-width:900px){
    .hamburger{
        display: none;
    }
    .menu{
        display: flex;
    }

    .mobile-nav{
        display: none;
    }
}

/* Dropdown menu in the nav bar */

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    cursor: pointer;
    width: 50px;
    height: 50px;
    margin: 0 16px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: var(--blue);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
  
.dropdown-content a:hover {
    background-color: var(--orange);
}
  
.show {
    display: block;
}

/* Log-in pop-up*/

.login-popup{
    position: absolute;
    top: -150%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%) scale(1.25);
    width: 380px;
    padding: 20px 30px;
    font-family: "Raleway", sans-serif;
    background: #fff;
    box-shadow: 2px 2px 5px 5px rgba(0,0,0,0.15);
    border-radius: 10px;
    transition: top 0ms ease-in-out 200ms,
                opacity 200ms ease-in-out 0ms,
                transform 20ms ease-in-out 0ms;
    z-index: 99;
}

.login-popup.active{
    top:50%;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
    transition: top 0ms ease-in-out 0ms,
                opacity 200ms ease-in-out 0ms,
                transform 20ms ease-in-out 0ms;
}

.login-popup .btnClose{
    position: absolute;
    top:10px;
    right:10px;
    width:15px;
    height: 15px;
    background: #888;
    color: #eee;
    text-align: center;
    line-height: 15px;
    border-radius: 15px;
    cursor: pointer; 
}

.login-popup .form h2{
    text-align: center;
    color:#222;
    margin: 10px 0px 20px;
    font-size: 25px;
}

.login-popup .form .form-element{
    margin: 15px 0px;
}

.login-popup .form .form-element label{
    font-size: 14px;
    color:#222;
    font-weight: bold;
}

.login-popup .form .form-element input[type="email"],
.login-popup .form .form-element input[type="password"]{
    margin-top: 5px;
    display: block;
    width: 100%;
    padding: 10px;
    outline: none;
    border: 1px solid #aaa;
    border-radius: 5px;
}

.login-popup .form .form-element input[type="checkbox"]{
    margin-right: 5px;
    margin-bottom: 15px;
}

.login-popup .form .form-element button{
    width: 100%;
    height: 40px;
    border:none;
    outline:none;
    font-size:16px;
    background: var(--orange);
    color:#f5f5f5;
    border-radius: 10px;
    cursor: pointer;
}

.login-popup .form .form-element button:hover{
    background-color: var(--blue);
}

.login-popup .form .form-element a{
    display: block;
    text-align: left;
    font-size: 14px;
    color:#1a79ca;
    text-decoration: none; 
    font-weight: 600;
}

/*Sign-in pop-up menu*/
.signin-popup{
    position: absolute;
    top: -150%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%) scale(1.25);
    width: 380px;
    padding: 20px 30px;
    font-family: "Raleway", sans-serif;
    background: #fff;
    box-shadow: 2px 2px 5px 5px rgba(0,0,0,0.15);
    border-radius: 10px;
    transition: top 0ms ease-in-out 200ms,
                opacity 200ms ease-in-out 0ms,
                transform 20ms ease-in-out 0ms;
    z-index: 100;
}

.signin-popup.active{
    top:50%;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
    transition: top 0ms ease-in-out 0ms,
                opacity 200ms ease-in-out 0ms,
                transform 20ms ease-in-out 0ms;
}

.signin-popup .btnClose{
    position: absolute;
    top:10px;
    right:10px;
    width:15px;
    height: 15px;
    background: #888;
    color: #eee;
    text-align: center;
    line-height: 15px;
    border-radius: 15px;
    cursor: pointer; 
}

.signin-popup .form h2{
    text-align: center;
    color:#222;
    margin: 10px 0px 20px;
    font-size: 25px;
}

.signin-popup .form .form-element{
    margin: 15px 0px;
}

.signin-popup .form .form-element label{
    font-size: 14px;
    color:#222;
    font-weight: bold;
}

.signin-popup .form .form-element input[type="text"],
.signin-popup .form .form-element input[type="email"],
.signin-popup .form .form-element input[type="password"]{
    margin-top: 5px;
    display: block;
    width: 100%;
    padding: 10px;
    outline: none;
    border: 1px solid #aaa;
    border-radius: 5px;
}

.signin-popup .form .form-element button{
    width: 100%;
    height: 40px;
    border:none;
    outline:none;
    font-size:16px;
    background:var(--orange);
    color:#f5f5f5;
    border-radius: 10px;
    cursor: pointer;
}

.signin-popup .form .form-element button:hover{
    background-color: var(--blue);
}

.signin-popup .form .form-element a{
    display: block;
    text-align: right;
    font-size: 15px;
    color:#1a79ca;
    text-decoration: none; 
    font-weight: 600;
}

.signin-popup .form .form-element a{
    display: block;
    text-align: left;
    font-size: 14px;
    color:#1a79ca;
    text-decoration: none; 
    font-weight: 600;
}

/* Pop-up social media icons */

.social-media-icons{
    margin-top: 40px;
    margin-left: 40px;
}

.social-media-icons ul {
    position: relative;
    top: 50%;
    left: 50%;
    bottom: 0%;
    transform: translate(-50%, -50%);
    padding: 0;
    margin: 10px;
    display: flex;
}

.social-media-icons ul li {
    list-style: none;
    margin: 0 10px;
}

.social-media-icons ul li .fab {
    color: #000000;
    font-size: 25px;
    line-height: 50px;
    transition: .5s;
}

.social-media-icons ul li .fab:hover {
    color: #ffffff;
}

.social-media-icons ul li a {
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    text-align: center;
    transition: 0.5s;
    transform: translate(0,0px);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
}

.social-media-icons ul li a:hover {
    transform: rotate(0deg) skew(0deg) translate(0, -10px);
}
.social-media-icons ul li:nth-child(1) a:hover {
    background-color: #3b5999;
}
.social-media-icons ul li:nth-child(2) a:hover {
    background-color: #f1e613;
}
.social-media-icons ul li:nth-child(3) a:hover {
    background-color: rgb(98, 96, 96);
}

/* Search Bar */
header .search-bar-container{
    position: absolute;
    top:100%; left: 0; right:0;
    padding: 10px;
    background:var(--orange);
    border-top: .1rem solid rgba(255,255,255,.2);
    display: flex;
    align-items: center;
    z-index: 1001;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

header .search-bar-container.active{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
  
header .search-bar-container #search-bar{
    width:100%;
    padding:0.5px;
    text-transform: none;
    color:#333;
    font-size: 1.3rem;
    border-radius: .5rem;
}
  
header .search-bar-container label{
    color:#fff;
    cursor: pointer;
    font-size: 2rem;
    margin-left: 1rem;
}
  
header .search-bar-container label:hover{
    color:var(--orange);
}

/* Home section */

.home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    position: relative;
    z-index: 0;
  }
  
  .home .content{
    text-align: center;
  }
  
  .home .content h3{
    font-size: 4.5rem;
    color:#fff;
    text-transform: uppercase;
    text-shadow: 0 .3rem .5rem rgba(0,0,0,.1);
  }
  
  .home .content p{
    font-size: 2.5rem;
    color:#fff;
    padding:.5rem 0;
  }
  
  .home .video-container video{
    position: absolute;
    top:0; left: 0;
    z-index: -1;
    height: 100%;
    width:100%;
    object-fit: cover;
  }
  
  .home .controls{
    padding:1rem;
    border-radius: 5rem;
    background:rgba(0,0,0,.7);
    position: relative;
    top:10rem;
  }
  
  .home .controls .vid-btn{
    height:2rem;
    width:2rem;
    display: inline-block;
    border-radius: 50%;
    background:#fff;
    cursor: pointer;
    margin:0 .5rem;
  }
  
  .home .controls .vid-btn.active{
    background:var(--orange);
  }

  .home .content .btn{
    display: inline-block;
    margin-top: 1rem;
    background:var(--orange);
    color:#fff;
    padding:.8rem 3rem;
    border:.2rem solid var(--orange);
    cursor: pointer;
    font-size: 1.7rem;
    border-radius: 30px;
    text-decoration: none;
}

.home .content .btn:hover{
    background: var(--blue);
}

/* Services */

.services{
    background-color: var(--white);
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.services .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    gap: 1.5rem;
    padding: 50px;
}

.heading-title{
    text-align: center;
    margin-bottom: .3rem;
    padding-top: 40px;
    font-size: 3rem;
    text-transform: uppercase;
    color:var(--blue);
 }

.services .box-container .box{
    padding:3rem 2rem;
    text-align: center;
    background: var(--orange);
    cursor: pointer;
    margin-bottom: 50px;
    border-radius: 10px;
 }
 
 .services .box-container .box:hover{
    background: var(--blue);
 }
 
 .services .box-container .box img{
    height: 4rem;
 }
 
 .services .box-container .box h3{
    color:var(--white);
    font-size: 1.5rem;
    padding-top: 1rem;
 }

/* Booking section */

.book .row{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
    align-items: center;
    margin: 3rem;
}
  
.book .row .image{
    flex:1 1 10rem;
    margin-right: 5rem;
}
  
.book .row .image img{
    width:100%;
}
  
.book .row form{
    flex:1 1 20rem;
    padding:1.5rem;
    box-shadow: 0 1rem 2rem rgba(0,0,0,.1);
    border-radius: 1rem;
    background-color: #FFF;
}
  
.book .row form .inputBox{
    padding:.5rem 0;
}
  
.book .row form .inputBox input{
    width:100%;
    padding:1rem;
    border:.1rem solid rgba(0,0,0,.1);
    font-size: 1rem;
    color:#333;
    text-transform: none;
}
  
.book .row form .inputBox h3{
    font-size: 1.5rem;
    padding:1rem 0;
    color:#666;
}

.book .row form .btn{
    display: inline-block;
    margin-top: 1rem;
    background:var(--orange);
    color:#fff;
    padding:.8rem 3rem;
    border:.2rem solid var(--orange);
    cursor: pointer;
    font-size: 1.7rem;
    border-radius: 30px;
    text-decoration: none;
}

.book .row form .btn:hover{
    background-color: var(--blue);
}

.book .bookBtn{
    text-align: center;
    align-items: center;
    justify-items: center;
}

/* Footer section */

.footer{
    margin-top: 50px;
    width: 100%;
    padding: 20px 15%;
    background: var(--orange);
    color: var(--white);
    display: flex;
}

.footer div{
    text-align: center;
} 

.col-2{
    flex-grow: 3;
}

.footer div h3{
    font-weight: 300;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

.col-1 a{
    display: block;
    text-decoration: none;
    color:var(--white);
    margin-bottom: 10px;
}

.col-2{
    margin-left: 100px;
}

.col-2 input{
    width: 400px;
    height: 45px;
    border-radius: 4px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
    outline:none;
    border: none;
}

form button{
    background: transparent ;
    border: 2px solid #fff;
    color:#FFF;
    border-radius: 30px;
    padding: 10px 30px;
    font-size: 15px;
    cursor: pointer;
}

.social-icons{
    margin-top: 30px;
}

.social-icons i{
    font-size:27px;
    margin:10px;
    cursor: pointer;
}  

@media(max-width:900px){
    .footer{
        display: none;
    }
}

